<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MoviesServlet</servlet-name>
        <servlet-class>controller.MoviesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllServlet</servlet-name>
        <servlet-class>controller.ShowAllServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMovieServlet</servlet-name>
        <servlet-class>controller.EditMovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>controller.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>controller.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMovieServlet</servlet-name>
        <servlet-class>controller.AddMovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookCinemaServlet</servlet-name>
        <servlet-class>controller.BookCinemaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookSeatServlet</servlet-name>
        <servlet-class>controller.BookSeatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookTiming</servlet-name>
        <servlet-class>controller.BookTimingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookPaymentServlet</servlet-name>
        <servlet-class>controller.BookPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillServlet</servlet-name>
        <servlet-class>controller.BillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionServlet</servlet-name>
        <servlet-class>controller.QuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Question2</servlet-name>
        <servlet-class>controller.Question2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MoviesServlet</servlet-name>
        <url-pattern>/movies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllServlet</servlet-name>
        <url-pattern>/show_all</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/sign_in</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/sign_up</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMovieServlet</servlet-name>
        <url-pattern>/edit_movies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMovieServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookCinemaServlet</servlet-name>
        <url-pattern>/book_cinema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookTiming</servlet-name>
        <url-pattern>/book_timing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookSeatServlet</servlet-name>
        <url-pattern>/book_seat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookPaymentServlet</servlet-name>
        <url-pattern>/book_payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillServlet</servlet-name>
        <url-pattern>/bill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionServlet</servlet-name>
        <url-pattern>/question</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Question2</servlet-name>
        <url-pattern>/question1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
